<ion-header>
  <ion-toolbar class="festinha">
    <ion-title slot="start">
     Inicio
    </ion-title>
    <ion-title slot="end">
        <ion-icon name="person" routerLink="/login-usuario"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm1BCE_3840kDUfPrqD">
  <ion-img src="/assets/baile.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Favela</ion-card-subtitle>
    <ion-card-title>Baile da Gaiola</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Um lugar para você e pra sua família</p>
  </ion-card-content>
</ion-card>
<br>
<ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm1BU-z_yXQi22_mET1">
  <ion-img src="/assets/festa.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Churrasco</ion-card-subtitle>
    <ion-card-title>Churrascada</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Um lugar para você e pra sua família. </p>
  </ion-card-content>
</ion-card>
<br>
<ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm1DpSuDT181G7QHAVG">
  <ion-img src="/assets/mabeco.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Festa</ion-card-subtitle>
    <ion-card-title>Mabeco</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Um lugar para você e pra sua família.</p>
  </ion-card-content>
</ion-card>
</ion-content>
